# Base de données PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# URL du site
SITE_URL=

# Email Brevo
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM=
MAIL_FROM_NAME=

# Clé secrète
SECRET_KEY=

# Mode debug désactivé
DEBUG_MODE=false