# ==============================================
# Dépendances Node (générées par npm install)
# ==============================================
node_modules/

# ==============================================
# Système
# ==============================================
.DS_Store
Thumbs.db
desktop.ini

# ==============================================
# IDEs & éditeurs
# ==============================================
.idea/
.vscode/
*.swp
*.swo

# ==============================================
# Logs
# ==============================================
*.log