# ==============================================
# Environnement & secrets
# ==============================================
.env
*.pem
*.key

# ==============================================
# Dépendances PHP (générées par Composer)
# ==============================================
www/
vendor/

# ==============================================
# Dépendances Node (générées par npm install)
# ==============================================
node_modules/

# ==============================================
# Docker
# ==============================================
docker-compose.yml
Dockerfile
docker/
php.ini
tables.sql

# ==============================================
# Système
# ==============================================
.DS_Store
Thumbs.db
desktop.ini

# ==============================================
# IDEs & éditeurs
# ==============================================
.idea/
.vscode/
*.swp
*.swo

# ==============================================
# Logs & cache
# ==============================================
*.log
/var/log/

# ==============================================
# debug
# ==============================================
docker-compose.debug.yml
xdebug.ini