
$color-bg-body: #cfd6e4;
$color-bg-container: #f3f4f6;
$color-bg-logo: #e5e7eb;
$color-bg-button: #0f172a;
$color-bg-input-focus: #ffffff;
$color-link: #3b82f6;
$color-link-hover: #1d4ed8;
$color-subtitle: #6b7280;
$color-text: #111827;
$color-error-bg: #fee2e2;
$color-error-text: #b91c1c;


$font-family: 'Inter', sans-serif;
